<section data-ng-controller="ProductsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Products</h1>
    </div>

    <div class="container list-group">
        <div class="list-group-item row" data-ng-repeat="product in products">
            <div class="col-md-2">
                <a data-ng-href="#!/products/{{product._id}}">
                    <img data-ng-href="#!/products/{{product._id}}"  data-ng-src="{{product.thumbnail}}" title="{{product.name}}" />
                </a>
            </div>
            <div class="col-md-10">
                <h3><a data-ng-href="#!/products/{{product._id}}" class="hand">{{product.title}}</a> &nbsp;
                </h3>
                <p>{{product.description}}</p>
                <span>种类: {{product.categories}}</span>
                <span>关键字: {{product.keywords}}</span>
                <span>场景: {{product.scenarios}}</span>
            </div>
            <hr/>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
        No Products yet, why don't you <a href="/#!/products/create">create one</a>?
    </div>
</section>