<section data-ng-controller="ProductsController" data-ng-init="findOne()">
    <div class="wrap-container">
        <div class="row">
            <div id="breadcrumb">
                <ol class="breadcrumb"></ol>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12  main-column">
                <div id="content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-lg-7 col-sm-6 image-container">
                                <div class="image">
                                    <a ng-href="{{product.thumbnail}}" class="colorbox cboxElement">
                                        <img data-ng-src="{{product.thumbnail}}" title="{{product.name}}" alt="{{product.name}}" id="image" data-zoom-image="{{product.thumbnail}}" class="product-image-zoom">
                                    </a>
                                </div>

                                <div class="image-additional slide carousel" id="image-additional">
                                    <div id="image-additional-carousel" class="carousel-inner">
                                        <div nclass="item active" ng-repeat="picture in product.pictures">
                                            <a ng-href="{{picture}}"  class="" data-zoom-image="{{picture}}" data-image="{{picture}}">
                                                <img ng-src="{{picture}}" style="max-width:114px" data-zoom-image="{{picture}}" class="product-image-zoom">
                                            </a>
                                        </div>

                                        <a class="carousel-control left" href="#image-additional" data-slide="prev">‹</a>
                                        <a class="carousel-control right" href="#image-additional" data-slide="next">›</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <h1>{{product.name}}</h1>

                                <div class="description">
                                    <span>描述:</span>{{prodcut.description}}
                                    <br>
                                </div>

                                <div class="price-cart">
                                    <div class="price"> {{product.price | currency:"￥ "}}</div>
                                    <div class="product-extra">

                                        <input type="hidden" name="product_id" value="43"> &nbsp;
                                        <!-- <input type="button" value="Add to Cart" id="button-cart" class="button" />-->
                                        <button class="button" id="button-cart">
                                            <span class="fa fa-shopping-cart icon"></span>
                                            <span>Add to Cart</span>
                                        </button>
                                        <!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;</span> -->

                                    </div>
                                </div>
                                <div class="compare-wish">
                                	<span class="links">
                                		<a class="wishlist" onclick="addToWishList('43');">Add to Wish List</a>
            							<a class="compare" onclick="addToCompare('43');">Add to Compare</a>
            						</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="comment" ng-repeat="comment in product.comments">
                    <p>
                      <a href="{{ '/users/' + comment.user._id }}">{{ comment.user.displayName }}</a>
                      :&nbsp;
                      {{ comment.body }} &nbsp;
                      {{ comment.star }} &nbsp;
                       <button class="btn btn-danger btn-link error" ng-click="deleteComment(comment._id )">delete</button>
                      <span class="muted">{{ comment.createdAt | date:'dd-M-yyyy H:mm'}}</span>
                    </p> 
                </div>

                <div>
                    <form method="post" ng-submit="createComment()" role="form">
                        <input type="hidden" name="_csrf" ng-model="newComment._csrf" value="{{ csrf_token }}">
                        <div class="form-group">
                            <input type="text" name="star" id="star" ng-model="newComment.star" class="form-control" placeholder="5" >
                            <textarea rows="6" name="body" id="body" ng-model="newComment.body"placeholder="Add your comment"  cols="30" rows="10" class="form-control"></textarea>
                        </div>
                      <button class="btn btn-primary" type="submit">Add comment</button>
                    </form>
                </div>
                <div>
                    <small>
						<em class="text-muted">Posted on
                			<span data-ng-bind="product.created | date:'mediumDate'"></span>
                			by
                			<span data-ng-bind="product.user.displayName"></span>
						</em>
					</small>
                </div>
            </div>
        </div>
    </div>
</section>
