<section data-ng-controller="OrdersController">

    <!-- 收货地址 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">收货地址</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="receiverName">收货人：</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="deliveryInfo.receiverName" id="receiverName" class="form-control" placeholder="" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="address">详细地址：</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="deliveryInfo.address" id="address" class="form-control" placeholder="地址" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="phone">手机：</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="deliveryInfo.phone" id="phone" class="form-control" placeholder="138688688888">
                    </div>
                    <label class="col-sm-2  control-label" for="tel"> 或固定电话：</label>
                    <input type="text" data-ng-model="deliveryInfo.tel" id="tel" cclass="col-sm-2 form-control" placeholder="021-56786666">
                </div>
            </form>
        </div>
    </div>

    <!-- 支付方式 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">支付方式</h3>
        </div>
        <div class="panel-body">
            <div class="radio">
                <label>
                    <input type="radio" name="payOptions" id="payOptions" value="zhifubao" data-ng-model="payment.type"> 支付宝
                </label>
            </div>
            <div class="radio">
               <label>
                  <input type="radio" name="payOptions" id="payOptions" value="weixin" data-ng-model="payment.type"> 微信支付
               </label>
            </div>
        </div>
    </div>

    <!-- 发票信息 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">发票信息</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox">
                <label><input type="checkbox" value="1" data-toggle="button" checked>需要发票</label>
            </div>
            <div>
                <label>发票抬头：</label>
                <label class="checkbox-inline"> 
                    <input type="radio" name="invoiceOptions" id="invoiceOption1" value="0" checked data-ng-model="invoiceInfo.type"> 个人 
                    </label>
                <label class="checkbox-inline">
                    <input type="radio" name="invoiceOptions" id="invoiceOption2" value="1" data-ng-model="invoiceInfo.type"> 单位
                </label>
            </div>
            <div>
            <input type="text" data-ng-model="invoiceInfo.content"/>
            </div>
        </div>
    </div>

    <!-- 购物清单 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">购物清单</h3>
        </div>
        <div class="panel-body">
            <ul class="products">
                <li ng-repeat="item in cart.items | orderBy:'name'" class="thumbnail product-listing">
                    <div class="row">
                        <div class="col-md-8">
                            <a class="pull-left thumb" data-ng-href="#!/products/{{item.sku}}">
                                <img class="img-responsive" data-ng-href="#!/products/{{item.product.sku}}" data-ng-src="{{item.thumbnail}}" />
                            </a>
                            <h4><a data-ng-href="#!/products/{{item.product._id}}" class="hand">{{item.name}}</a></h4>
                        </div>
                         <div class="col-md-1">
                            <span>{{item.quantity}}</span>
                        </div>
                        <div class="col-md-2">
                            <span>{{item.price * item.quantity | currency:"￥ "}}</span>
                        </div>
                        <div class="col-md-1">
                             <a href="" ng-click="cart.addItem(item.sku, item.name, item.thumbnail, item.price, -10000000)" >
                                <span class="icon-remove">删除</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

     <!-- 提交 -->
    <div class="well clearfix">
        <div class="pull-right">
            <span style="margin-right: 20px;">应付总额：<strong>{{cart.getTotalPrice() | currency:"￥ "}}</strong></span>
            <button type="button" class="btn btn-danger" ng-click="checkout()">提交订单</button>
        </div>
    </div>

     <!-- 留言 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">留言</h3>
        </div>
        <div class="panel-body">
            <Textarea class="form-control" rows="3" data-ng-model="comment" id="comment" placeholder="留言，特殊要求"> </Textarea>
        </div>
    </div>
</section>