<section data-ng-controller="OrdersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="order.name"></h1>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">购物清单</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr class="well">
                        <td><b>Item</b></td>
                        <td class="tdCenter"><b>Quantity</b></td>
                        <td class="tdRight"><b>Price</b></td>
                        <td />
                    </tr>
                    <tr ng-repeat="item in order.orderItems | orderBy:'name'">
                        <td>
                            <div class="content-heading">
                                <a class="pull-left" data-ng-href="#!/products/{{item.product._id}}">
                                    <img data-ng-href="#!/products/{{item.product._id}}" data-ng-src="{{item.product.thumbnail}}" />
                                </a>
                                <h3><a data-ng-href="#!/products/{{item.product._id}}" class="hand">{{item.product.title}}</a></h3>
                            </div>
                        </td>
                        <td class="tdCenter">
                            <div class="input-append">
                                <span> {{item.quantity}}</span>
                            </div>
                        </td>
                        <td class="tdRight">{{item.unitPrice * item.quantity | currency:"￥ "}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
